<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CSS - Bootcamp Duo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: #121212;
                color: #e0e0e0;
                font-family: 'Roboto', sans-serif;
            }
            .card-text {
                color: black;
            }

            .container {
                margin-top: 20px;
            }

            .main-img {
                width: 100%;
                height: auto;
            }

            .description {
                padding: 20px 0;
            }

            footer {
                background-color: #1e1e1e;
                color: #e0e0e0;
                text-align: center;
                padding: 10px;
                margin-top: 20px;
            }

            .section-divider {
                border: 0;
                height: 1px;
                background: #444;
                background-image: linear-gradient(to right, #333, #444, #333);
                margin: 40px 0;
            }

            .page-title {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
                color: #00bcd4;
            }

            .wine-red {
                color: #ff1744;
            }

            .gray {
                color: #9e9e9e;
            }

            .fancy-font {
                font-family: 'Roboto Mono', monospace;
            }

            .font-size {
                font-size: 1.5em;
            }

        </style>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">bootcamp-duo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/bootcamp-duo">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bootcamp-duo/games">Games</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="lazerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mobile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="lazerDropdown">
                                <a class="dropdown-item" href="/bootcamp-duo/mobile-android">Android</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/bootcamp-duo/mobile-ios">iOS</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bootcamp-duo/devops">Devops</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="businessDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                WebSite
                            </a>
                            <div class="dropdown-menu" aria-labelledby="businessDropdown">
                                <a class="dropdown-item" href="/bootcamp-duo/website-html">HTML</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/bootcamp-duo/website-css">CSS</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/bootcamp-duo/website-javascript">JavaScript</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/bootcamp-duo/inteligencia-artificial">Inteligência Artificial (IA)</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Usuário" aria-label="Usuário">
                        <input class="form-control mr-sm-2" type="password" placeholder="Senha" aria-label="Senha">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enviar</button>
                    </form>
                </div>
            </nav>
        </header>

        <div class="container mt-4">

            <div class="page-title">
                <h1 class="wine-red fancy-font">CSS</h1>
                <hr class="section-divider">
            </div>  

            <div class="row mt-4">
                <div class="col-md-6">
                    <img src="/images/css/sala-reunioes001.png" class="img-fluid" alt="Sala de Reuniões 1">
                    <p class="text-justify">A <span class="wine-red fancy-font text-center font-size">sala de reuniões Principal</span> é equipada com tecnologia de ponta e proporciona um ambiente confortável e sofisticado para seus eventos corporativos.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/css/sala-reunioes004.png" class="img-fluid" alt="Sala de Reuniões 4">
                    <p class="text-justify">A <span class="wine-red fancy-font text-center font-size">sala de reuniões VIP</span> oferece privacidade e conforto, com móveis luxuosos e um ambiente acolhedor para reuniões importantes.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <img src="/images/css/sala-reunioes003.png" class="img-fluid" alt="Sala de Reuniões Aurora">
                    <p class="text-justify">A <span class="wine-red fancy-font text-center font-size">sala de reuniões Aurora</span> possui uma decoração requintada e uma iluminação suave, esta sala de reuniões é ideal para encontros estratégicos e sessões de brainstorming.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/css/sala-reunioes002.png" class="img-fluid" alt="Sala de Reuniões Alvorada">
                    <p class="text-justify">A <span class="wine-red fancy-font text-center font-size">sala de reuniões Alvorada</span> oferece um espaço elegante e moderno, perfeito para reuniões menores e apresentações exclusivas.</p>
                </div>
            </div>
        </div>

        <hr class="section-divider">

        <footer class="bg-light text-center text-lg-start">
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase gray">Contato</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" class="text-dark">Estr. dos Alvarengas, 4001 - Alvarenga, São Bernardo do Campo - SP, 09850-550
</a></li>
                            <li><a href="#!" class="text-dark">Telefone: 0800 771 8020</a></li>
                            <li><a href="mailto:contato@fesa.edu.br" class="text-dark">Email: contato@fesa.edu.br</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase gray">Links Úteis</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" class="text-dark">Home</a></li>
                            <li><a href="#!" class="text-dark">Sobre</a></li>
                            <li><a href="#!" class="text-dark">Serviços</a></li>
                            <li><a href="#!" class="text-dark">Contato</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase gray">Newsletter</h5>
                        <form action="#">
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example2" class="form-control" />
                                <label class="form-label" for="form5Example2">Seu Email</label>
                            </div>
                            <button type="submit" class="btn btn-dark btn-block mb-4">Inscreva-se</button>
                        </form>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase gray">Siga-nos</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="https://www.instagram.com/fsalvadorarena/" class="text-dark" target="_blank">Instagram</a></li>
                            <li><a href="https://facebook.com/fesa" class="text-dark" target="_blank">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/school/faculdade-engenheiro-salvador-arena" class="text-dark" target="_blank">LinkedIn</a></li>
                            <li><a href="https://www.youtube.com/fesa" class="text-dark" target="_blank">YouTube</a></li>
                            <li><a href="https://twitter.com/fesa_oficial?lang=en" class="text-dark" target="_blank">Twitter</a></li>
                            <li><a href="https://www.tiktok.com/@fesa.oficial" class="text-dark" target="_blank">TikTok</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2024 Copyright<br/>
                <a class="text-dark" href="https://fesa.edu.br/">fesa.edu.br</a>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>