<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HTML - Bootcamp Duo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <style>
            body {
                background-color: #121212;
                color: #e0e0e0;
                font-family: 'Roboto', sans-serif;
            }
            .card-text {
                color: black;
            }
            .container {
                margin-top: 20px;
            }

            .main-img {
                width: 100%;
                height: auto;
            }

            .description {
                padding: 20px 0;
            }

            footer {
                background-color: #1e1e1e;
                color: #e0e0e0;
                text-align: center;
                padding: 10px;
                margin-top: 20px;
            }

            .section-divider {
                border: 0;
                height: 1px;
                background: #444;
                background-image: linear-gradient(to right, #333, #444, #333);
                margin: 40px 0;
            }

            .page-title {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 20px;
                color: #00bcd4;
            }

            .wine-red {
                color: #ff1744;
            }

            .gray {
                color: #9e9e9e;
            }

            .fancy-font {
                font-family: 'Roboto Mono', monospace;
            }

            .font-size {
                font-size: 1.5em;
            }

        </style>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">bootcamp-duo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/hotelaria-fesa">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/hotelaria-fesa/acomodacoes">Games</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="lazerDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mobile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="lazerDropdown">
                                <a class="dropdown-item" href="/hotelaria-fesa/lazer/externa">Android</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/hotelaria-fesa/lazer/interna">iOS</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/hotelaria-fesa/bares">Devops</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="businessDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                WebSite
                            </a>
                            <div class="dropdown-menu" aria-labelledby="businessDropdown">
                                <a class="dropdown-item" href="/hotelaria-fesa/business-recepcao">HTML</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/hotelaria-fesa/business-salas-reuniao">CSS</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/hotelaria-fesa/business-teatros">JavaScript</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/hotelaria-fesa/restaurante">Inteligência Artificial (IA)</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Usuário" aria-label="Usuário">
                        <input class="form-control mr-sm-2" type="password" placeholder="Senha" aria-label="Senha">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enviar</button>
                    </form>
                </div>
            </nav>
        </header>

        <div class="container">
            <div class="page-title">
                <h1 class="wine-red fancy-font">HTML</h1>
                <hr class="section-divider">
            </div>

            <div class="card mb-4">
                <img src="/images/html/hotel001.png" alt="Recepção do hotel" class="img-fluid main-img">
                <div class="card-body">
                    <p class="card-text">A <strong class="wine-red fancy-font font-size">Recepção</strong> do nosso hotel é um espaço luxuoso e sofisticado, projetado para oferecer aos nossos hóspedes uma experiência de hospitalidade inigualável. Com pisos de mármore polido, tetos altos adornados com lustres de cristal, e uma decoração elegante, a recepção exala uma sensação de exclusividade e bem-estar.</p>
                    <br>
                    <p><strong class="wine-red fancy-font font-size">Concierge</strong> : Nosso concierge está disponível 24 horas para atender a todas as suas necessidades, desde reservas em restaurantes até organização de passeios turísticos.</p>
                    <p><strong class="wine-red fancy-font font-size">Check-in/Check-out Rápido</strong> : Facilite sua chegada e partida com nosso serviço eficiente de check-in e check-out.</p>
                    <p><strong class="wine-red fancy-font font-size">Wi-Fi Gratuito</strong> : Mantenha-se conectado com nosso Wi-Fi de alta velocidade disponível em todas as áreas do hotel.</p>
                    <p><strong class="wine-red fancy-font font-size">Serviço de Bagagem</strong> : Nossa equipe está pronta para ajudar com a sua bagagem a qualquer momento.</p>
                    <p><strong class="wine-red fancy-font font-size">Transporte de Luxo</strong> : Oferecemos serviços de transporte de luxo para facilitar seus deslocamentos.</p>
                </div>
            </div>
            <div class="card mb-4">
                <img src="/images/html/hotel002.png" alt="Boulevard Shopping" class="img-fluid main-img">
                <div class="card-body">
                    <p class="card-text">O <strong class="wine-red fancy-font font-size">Boulevard Shopping</strong> é uma área exclusiva dentro do hotel que reúne lojas de altíssimo padrão, oferecendo uma experiência de compras sofisticada e luxuosa para os hóspedes. Com uma decoração elegante e um ambiente acolhedor, o boulevard é o lugar perfeito para quem busca produtos de alta qualidade e atendimento personalizado.</p>
                </div>
            </div>
        </div>

        <div class="container mt-4">

            <div class="row mt-4">
                <div class="col-md-6">
                    <img src="/images/html/loja001.png" class="img-fluid" alt="Joalheria">
                    <p class="text-justify"><strong class="wine-red fancy-font font-size">Luxe Jewels</strong> oferece uma seleção deslumbrante de peças de alta joalheria, incluindo diamantes, esmeraldas e safiras. Cada peça é cuidadosamente selecionada para atender aos mais altos padrões de qualidade e beleza.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/html/loja002.png" class="img-fluid" alt="Boutique de Moda">
                    <p class="text-justify"><strong class="wine-red fancy-font font-size">Couture Elegance</strong> é um paraíso para os amantes de alta costura. Oferecemos as últimas tendências da moda, com peças exclusivas dos designers mais renomados do mundo. Venha descobrir a elegância e o estilo que só nossa boutique pode oferecer.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <img src="/images/html/loja003.png" class="img-fluid" alt="Loja de Vinhos e Destilados">
                    <p class="text-justify"><strong class="wine-red fancy-font font-size">Vintage Vintners</strong> apresenta uma coleção exclusiva de bebidas finas, cuidadosamente selecionadas para os conhecedores mais exigentes. O ambiente aconchegante e sofisticado convida você a explorar nossas prateleiras e descobrir novos sabores.</p>
                </div>
                <div class="col-md-6">
                    <img src="/images/html/loja004.png" class="img-fluid" alt="Loja de Relógios">
                    <p class="text-justify"><strong class="wine-red fancy-font font-size">Timeless Timepieces</strong> oferece aos entusiastas de relógios de luxo uma seleção de peças de marcas prestigiadas. Cada relógio é uma obra de arte, combinando precisão, design e inovação.</p>
                </div>
            </div>
        </div>


        <hr class="section-divider">


        <!-- Footer -->
        <footer class="bg-light text-center text-lg-start">
            <div class="container p-4">
                <div class="row">
                    <!-- Informações de Contato -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase gray">Contato</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" class="text-dark">Estr. dos Alvarengas, 4001 - Alvarenga, São Bernardo do Campo - SP, 09850-550
</a></li>
                            <li><a href="#!" class="text-dark">Telefone: 0800 771 8020</a></li>
                            <li><a href="mailto:contato@fesa.edu.br" class="text-dark">Email: contato@fesa.edu.br</a></li>
                        </ul>
                    </div>

                    <!-- Links Úteis -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase gray">Links Úteis</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="#!" class="text-dark">Home</a></li>
                            <li><a href="#!" class="text-dark">Sobre</a></li>
                            <li><a href="#!" class="text-dark">Serviços</a></li>
                            <li><a href="#!" class="text-dark">Contato</a></li>
                        </ul>
                    </div>

                    <!-- Newsletter -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase gray">Newsletter</h5>
                        <form action="#">
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example2" class="form-control" />
                                <label class="form-label" for="form5Example2">Seu Email</label>
                            </div>
                            <button type="submit" class="btn btn-dark btn-block mb-4">Inscreva-se</button>
                        </form>
                    </div>

                    <!-- Redes Sociais -->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase gray">Siga-nos</h5>
                        <ul class="list-unstyled mb-0">
                            <li><a href="https://www.instagram.com/fsalvadorarena/" class="text-dark" target="_blank">Instagram</a></li>
                            <li><a href="https://facebook.com/fesa" class="text-dark" target="_blank">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/school/faculdade-engenheiro-salvador-arena" class="text-dark" target="_blank">LinkedIn</a></li>
                            <li><a href="https://www.youtube.com/fesa" class="text-dark" target="_blank">YouTube</a></li>
                            <li><a href="https://twitter.com/fesa_oficial?lang=en" class="text-dark" target="_blank">Twitter</a></li>
                            <li><a href="https://www.tiktok.com/@fesa.oficial" class="text-dark" target="_blank">TikTok</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2024 Copyright<br/>
                <a class="text-dark" href="https://fesa.edu.br/">fesa.edu.br</a>
            </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>