<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="painel :: header">
<!-- Incluindo o fragmento do cabeçalho -->
</head>
<body>
	<div class="content" style="margin-left: 250px;">
		<!-- Adicionando margem à direita para o painel lateral -->
		<div th:replace="painel :: navbar">
			<!-- Incluindo o fragmento da barra de navegação -->
		</div>

		<div th:replace="painel :: sidebar">
			<!-- Incluindo o fragmento da barra lateral -->
		</div>
		<br>
		<h1>Cadastrar Funcionario</h1>
		<hr>
		<div>
			<form method="post" action="/cadastrarFuncionario">
				<div class="form-group">
					<label for="nome">Nome</label> <input type="text" name="nome"
						class="form-control" id="nome" placeholder="Digite seu nome">
				</div>
				<div class="form-group">
					<label for="cpf">CPF</label> <input type="text" name="cpf"
						class="form-control" id="cpf" placeholder="Digite seu CPF">
				</div>
				<div class="form-group">
					<label for="dataDeNascimento">Data de Nascimento</label> <input
						type="date" name="dataDeNascimento" class="form-control"
						id="dataDeNascimento" placeholder="Digite sua data de nascimento">
				</div>
				<div class="form-group">
					<label for="escolaridade" class="form-label">Escolaridade</label> <select
						class="form-select" id="escolaridade" name="escolaridade">
						<option value="">Selecione</option>
						<option value="fundamental">Fundamental</option>
						<option value="medio">Médio</option>
						<option value="superior">Superior</option>
						<option value="pos-graduacao">Pós-graduação</option>
					</select>
				</div>
				<div class="form-group">
					<label for="endereco">Endereço</label> <input type="text"
						name="endereco" class="form-control" id="endereco"
						placeholder="Digite seu endereço">
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-square">Cadastrar
					Funcionário</button>
				</br>
				</br> <a href="/controlePessoa">Voltar</a>
			</form>
		</div>
	</div>

	<!-- Scripts JavaScript ao final do corpo do documento -->
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
		integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	<!-- Github buttons -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<script>
		new Chartist.Line('#traffic-chart',
				{
					labels : [ 'January', 'February', 'March', 'April', 'May',
							'June' ],
					series : [ [ 23000, 25000, 19000, 34000, 56000, 64000 ] ]
				}, {
					low : 0,
					showArea : true
				});
	</script>
</body>
</html>
