<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="painel :: header">
        <!-- O conteúdo será substituído pelo fragmento 'header' -->
    </head>

    <body>

        <!-- Navbar e Sidebar -->
        <div th:replace="painel :: navbar"></div>
        <div th:replace="painel :: sidebar"></div>

        <!-- Conteúdo principal -->
        <div class="content" style="margin-left: 250px;">
            <div class="container mt-4">
                <h3>Dashboard</h3>
                <!-- Local onde o gráfico vai aparecer -->
                <div id="traffic-chart" class="ct-chart ct-major-tenth"></div>
            </div>
        </div>

        <!-- Scripts JS ao final do body -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
                integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

        <script async defer src="https://buttons.github.io/buttons.js"></script>

        <!-- Injetando dados do backend no JavaScript com Thymeleaf -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var seriesData = [[${dados}]];
            new Chartist.Line('#traffic-chart', {
                labels: ['January', 'February', 'March', 'April', 'May', 'June'],
                series: seriesData
            }, {
                low: 0,
                showArea: true
            });
            /*]]>*/
        </script>

    </body>
</html>
